<!DOCTYPE html>
<!-- Esta es la pagina del listado de categoria-->

<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"/>
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head >
    <body>
        
         <header th:replace="~{layout/plantilla :: header}"/>
        
        <h3> Aca ira el listado de categorias</h3>
        <h4>Texto</h4>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>
